In [106]:
import pandas as pd
import numpy as np
from ast import literal_eval
from datetime import datetime
from sklearn.preprocessing import OneHotEncoder

In [107]:
df1 = pd.read_csv('mojo_pg1.csv')
df2 = pd.read_csv('mojo_pg2.csv')
df3 = pd.read_csv('mojo_pg3.csv')
df4 = pd.read_csv('mojo_pg4.csv')
df5 = pd.read_csv('mojo_pg5.csv')

In [109]:
df_all = pd.concat([df1,df2,df3,df4,df5])
df_all.shape

(996, 14)

In [110]:
df_all.columns

Index(['movie_title', 'domestic_distributor', 'budget',
       'domestic_opening_sales', 'earliest_release', 'rating',
       'runtime_minutes', 'genres', 'summary_sales', 'crew_list', 'cast_list',
       'domestic_sales', 'international_sales', 'worldwide_sales'],
      dtype='object')

In [111]:
df_all.sort_values(['domestic_opening_sales'], ascending=False)

,movie_title,domestic_distributor,budget,domestic_opening_sales,earliest_release,rating,runtime_minutes,genres,summary_sales,crew_list,cast_list,domestic_sales,international_sales,worldwide_sales
1,Avengers: Endgame,Walt Disney Studios Motion Pictures,356000000.0,357115007.0,2019-04-24,PG-13,181.0,"['Action', 'Adventure', 'Drama', 'Sci-Fi']","[['Domestic', 858373000], ['International', 19...","['Anthony Russo', 'Joe Russo', 'Christopher Ma...","['Robert Downey Jr.', 'Chris Evans', 'Mark Ruf...",[858373000],[1939427564],[2797800564]
4,Avengers: Infinity War,Walt Disney Studios Motion Pictures,NaN,257698183.0,2018-04-25,PG-13,149.0,"['Action', 'Adventure', 'Sci-Fi']","[['Domestic', 678815482], ['International', 13...","['Anthony Russo', 'Joe Russo', 'Christopher Ma...","['Robert Downey Jr.', 'Chris Hemsworth', 'Mark...",[678815482],[1369544272],[2048359754]
0,Star Wars: Episode VII,Walt Disney Studios Motion Pictures,245000000.0,247966675.0,2015-12-16,PG-13,138.0,"['Action', 'Adventure', 'Sci-Fi']","[['Domestic', 936662225], ['International', 11...","['J.J. Abrams', 'Lawrence Kasdan', 'J.J. Abram...","['Daisy Ridley', 'John Boyega', 'Oscar Isaac',...",[936662225],[1131791908],[2068454133]
8,Star Wars: Episode VIII,Walt Disney Studios Motion Pictures,317000000.0,220009584.0,2017-12-13,PG-13,152.0,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']","[['Domestic', 620181382], ['International', 71...","['Rian Johnson', 'Rian Johnson', 'George Lucas...","['Daisy Ridley', 'John Boyega', 'Mark Hamill',...",[620181382],[712516117],[1332697499]
6,Jurassic World,Universal Pictures,150000000.0,208806270.0,2015-06-10,PG-13,124.0,"['Action', 'Adventure', 'Sci-Fi']","[['Domestic', 652295625], ['International', 10...","['Colin Trevorrow', 'Rick Jaffa', 'Amanda Silv...","['Chris Pratt', 'Bryce Dallas Howard', 'Ty Sim...",[652295625],[1018130819],[1670426444]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Young Frankenstein,Twentieth Century Fox,2800000.0,NaN,1974-12-15,NaN,106.0,['Comedy'],"[['Domestic', 86273333], ['International', 862...","['Mel Brooks', 'Gene Wilder', 'Mel Brooks', 'M...","['Gene Wilder', 'Madeline Kahn', 'Marty Feldma...",[86273333],[86273333],[]
116,Pinocchio,Walt Disney Studios Motion Pictures,NaN,NaN,1940-02-09,G,88.0,"['Animation', 'Comedy', 'Family', 'Fantasy', '...","[['Domestic', 84254167], ['International', 376...","['Norman Ferguson', 'T. Hee', 'Wilfred Jackson...","['Dickie Jones', 'Christian Rub', 'Mel Blanc',...",[84254167],[37637878],[121892045]
133,Airplane!,Paramount Pictures,3500000.0,NaN,1980-06-27,NaN,88.0,['Comedy'],"[['Domestic', 83453539], ['International', 834...","['Jim Abrahams', 'David Zucker', 'Jerry Zucker...","['Robert Hays', 'Julie Hagerty', 'Leslie Niels...",[83453539],[83453539],[]
165,MASH,Twentieth Century Fox,3500000.0,NaN,1970-01-25,R,116.0,"['Comedy', 'Drama', 'War']","[['Domestic', 81600000], ['International', 816...","['Robert Altman', 'Richard Hooker', 'Ring Lard...","['Donald Sutherland', 'Elliott Gould', 'Tom Sk...",[81600000],[81600000],[]
198,A Star Is Born,Warner Bros.,NaN,NaN,1976-12-19,NaN,139.0,"['Drama', 'Music', 'Romance']","[['Domestic', 80000000], ['International', 800...","['Frank Pierson', 'John Gregory Dunne', 'Joan ...","['Barbra Streisand', 'Kris Kristofferson', 'Ga...",[80000000],[80000000],[]

In [113]:
genres_list = ['Action','Adventure','Animation','Biography','Comedy','Crime','Drama','Fantasy','Family','History','Horror','Musical','Mystery','Romance','Sci-Fi','Sport','Thriller','Western']

for i in genres_list:
    df_all[i] = df_all['genres'].apply(lambda x : 1 if i in x else 0)

In [114]:
df_all[['movie_title', 'genres','Action','Adventure','Animation','Biography','Comedy','Crime','Drama','Fantasy','Family','History','Horror','Musical','Mystery','Romance','Sci-Fi','Sport','Thriller','Western']]

,movie_title,genres,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Fantasy,Family,History,Horror,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,Western
0,Star Wars: Episode VII,"['Action', 'Adventure', 'Sci-Fi']",1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,Avengers: Endgame,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
2,Avatar,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
3,Black Panther,"['Action', 'Adventure', 'Sci-Fi']",1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,Avengers: Infinity War,"['Action', 'Adventure', 'Sci-Fi']",1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Footloose,"['Drama', 'Music', 'Romance']",0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
196,Dear John,"['Drama', 'Romance', 'War']",0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
197,Men in Black: International,"['Action', 'Adventure', 'Comedy', 'Sci-Fi']",1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
198,A Star Is Born,"['Drama', 'Music', 'Romance']",0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
199,Knowing,"['Action', 'Drama', 'Sci-Fi', 'Thriller']",1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0

In [115]:
dist_counts = df_all['domestic_distributor'].value_counts()
other_dist = list(dist_counts[dist_counts <= 6].index)
other_dist
df_all['domestic_dist_processed'] = df_all['domestic_distributor'].replace(other_dist, 'Other')
df_all['domestic_dist_processed'].value_counts()

Warner Bros.                           166
Walt Disney Studios Motion Pictures    161
Twentieth Century Fox                  130
Universal Pictures                     127
Paramount Pictures                     116
Sony Pictures Entertainment (SPE)      100
Other                                   50
DreamWorks                              22
New Line Cinema                         22
Lionsgate                               20
DreamWorks Distribution                 17
Metro-Goldwyn-Mayer (MGM)               14
Columbia Pictures                       14
TriStar Pictures                        12
Miramax                                  9
Revolution Studios                       8
Dimension Films                          7
Name: domestic_dist_processed, dtype: int64

In [116]:
domestic_distributors_list = df_all['domestic_dist_processed'].unique().tolist()
domestic_distributors_list

['Walt Disney Studios Motion Pictures',
 'Twentieth Century Fox',
 'Paramount Pictures',
 'Universal Pictures',
 'Warner Bros.',
 'DreamWorks Distribution',
 'Lionsgate',
 'Sony Pictures Entertainment (SPE)',
 'DreamWorks',
 'New Line Cinema',
 'Other',
 'Columbia Pictures',
 'TriStar Pictures',
 'Metro-Goldwyn-Mayer (MGM)',
 nan,
 'Miramax',
 'Revolution Studios',
 'Dimension Films']

In [117]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 199
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   movie_title              996 non-null    object
 1   domestic_distributor     995 non-null    object
 2   budget                   824 non-null    float64
 3   domestic_opening_sales   964 non-null    float64
 4   earliest_release         996 non-null    object
 5   rating                   867 non-null    object
 6   runtime_minutes          975 non-null    float64
 7   genres                   996 non-null    object
 8   summary_sales            996 non-null    object
 9   crew_list                996 non-null    object
 10  cast_list                996 non-null    object
 11  domestic_sales           796 non-null    object
 12  international_sales      796 non-null    object
 13  worldwide_sales          796 non-null    object
 14  Action                   996 non-null    int64
 15  Adventure                996 non-null    int64
 16  Animation                996 non-null    int64
 17  Biography                996 non-null    int64
 18  Comedy                   996 non-null    int64
 19  Crime                    996 non-null    int64
 20  Drama                    996 non-null    int64
 21  Fantasy                  996 non-null    int64
 22  Family                   996 non-null    int64
 23  History                  996 non-null    int64
 24  Horror                   996 non-null    int64
 25  Musical                  996 non-null    int64
 26  Mystery                  996 non-null    int64
 27  Romance                  996 non-null    int64
 28  Sci-Fi                   996 non-null    int64
 29  Sport                    996 non-null    int64
 30  Thriller                 996 non-null    int64
 31  Western                  996 non-null    int64
 32  domestic_dist_processed  995 non-null    object
dtypes: float64(3), int64(18), object(12)
memory usage: 264.6+ KB

In [118]:
df_all['domestic_sales'] = df_all['domestic_sales'].astype(int)

ValueError: invalid literal for int() with base 10: '[936662225]'

In [119]:
for row in df_all['domestic_sales']:
        row = row.split('[')[0].strip()

AttributeError: 'float' object has no attribute 'split'

In [ ]:
df_all['domestic_sales'] = df_all['domestic_sales'].astype(int)

In [ ]:
if df_all['domestic_sales'].isdigit():
  print(int(df_all['domestic_sales']))

In [ ]:
for i in df_all['domestic_sales']:
    try:
      int(i)
    except:
      print('Can not convert', str ,"to int")

In [ ]:
for i in df_all['domestic_sales']:
    try:
      i.split('[')
    except:
      print('Can not convert', str ,"to int")

In [ ]:
df_all['domestic_sales'] = literal_eval(df_all['domestic_sales'])